// Variables
@import './colors';

// General
.container{
    background: $colorApp !important;
    height: 100vh;
    padding-bottom: 2em;
    padding-top: 2em;
}

// Boton general
.btn-app{
    border: 1px solid $colorText;
    color: $colorText;
    
    margin: .5em;
    width: 70px;

    transition: all 0.2s ease;

    &:hover{
        color: $colorApp;
        background: $colorText;
    }
}

.btn-select{
    border: 1px solid $colorApp;
    color: $colorApp;
    
    width: auto;

    transition: all 0.2s ease;

    &:hover{
        color: $colorText;
        background: $colorApp;
    }
}

.pointer{
    cursor: pointer;
}

.blocked{
    cursor: not-allowed;
    background: lighten($color: $colorApp, $amount: 20) !important;
}

.alert-no-notes{
    border: none;
    background: $colorText;
    color: $colorApp;
    width: 300px;
    margin: auto;
}

.separator{
    border: 1px solid $colorText;
    width: 80%;
    margin: auto;
    margin-top: 3em;
}

.done {
    text-decoration:line-through;
}

// Links
.link{
    color: $colorApp;
    text-decoration: none;
    a{
        text-decoration: none;
        color: $colorApp;
        font-weight: 600;
    }

    &:hover{
        color: $colorApp;
    }
}

// Boton login & Register
.btn-auth{
    background: white;
    border: 1px solid $colorApp;
    color: $colorApp;
    
    margin: .5em;

    transition: all 0.2s ease;

    &:hover{
        color: white;
        background: $colorApp;
    }
}

// Inputs genericos
.input-generic{
    margin: auto;
    margin-bottom: 1em;

    &:focus{
        border: 2px solid $colorApp;
    }
}

// Inputs notes
.input-notes{
    width: 18em;
    margin: auto;
    margin-bottom: 1em;

    &:focus{
        border: 2px solid $colorApp;
    }
}

.alert-success{
    width: 20em;
    margin: auto;
}

.alert-todo{
    width: 19em;
    margin: auto;
}

.buttons{
    margin-bottom: .5em;
}

// Logo
#logo{
    background: $colorText;
    border-radius: 5px;
    padding: .5em;
    text-align: center;
    text-decoration-line: none;

    h1{
        color: $colorApp;
    }

    &:hover{
        cursor: pointer;
    }
}




// Navbar
#navbar{
    border-bottom: 2px solid $colorText;
    display: flex;
    margin: auto;
    height: auto;
    width: 90%;
    padding: 1em;

    // Profile
    .profile-pic{
        border-radius: 50%;   
        height: 50px;
        margin-left: 1em;
        vertical-align: middle;
        width: 50px;

        &:hover {
            cursor: pointer;
        }
    }

    
    
    #navbar-links{
        margin-left: auto;
    
        & span{
            color: $colorText;
            font-size: large;
            font-weight: 700;
            line-height: 3.5em;
        }
    }
}

.notes-cant{
    text-align: right;
    color: $colorText;
    font-style: italic;
    font-weight: 200;

    width: 75%;
    margin: auto;
}

.note-new{
    border-radius: 5px;
    background: rgb(243, 225, 255);
    
    margin: auto;
    
    width: 300px;
    height: 300px;

    .note-new-title{
        background: transparent;
        border: none;
        border-radius: 0%;
        border-bottom: 2px solid $colorApp;
        margin: auto;
        padding-top: 1em;
        width: 80%;
        font-size: medium;
        text-align: center;

        color: $colorApp;
        
    }

    .note-new-content{
        background: transparent;
        border: none;
        border-radius: 0%;
        height: 185px;
        resize: none;
        width: 80%;
        margin: auto;
        margin-top: .5em;
        text-align: center;

        font-weight: medium;

        color: lighten($color: $colorApp, $amount: 10);

        font-style: italic;

        border-bottom: 2px solid $colorApp;

        overflow-y: auto;

    }
}

// Content
.content{
    overflow-y: scroll;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    text-align: center;
    position: relative;

    .content-auth{
        background: white;
        height: auto;
        border-radius: 1em;
        width: auto;
        max-width: 20em;
        margin: auto;
        margin-top: 100px;
        padding: 2em;

        .logo-auth{
            background: $colorApp;
            border-radius: 5px;
            padding: .5em;
            text-align: center;
            margin-bottom: 1em;
        
            h1{
                color: white;
            }
        
            &:hover{
                cursor: pointer;
            }
        }
    }

    #content-new-note{
        margin-top: 1em;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    #notes{
        height: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .note{
            width: 300px;
            height: 290px;
            margin-bottom: 3em;

            .note-update-date{
                color: lighten($color: $colorApp, $amount: 15);
                font-style: italic;
                font-size: small;
            }

            .note-title{
                color: $colorApp;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 2px solid $colorApp;
                width: 80%;
                margin: auto;
                margin-bottom: 10px;
                text-align: center !important;
            }
            
            .note-body{
                border-radius: 5px;
                background: rgb(243, 225, 255);
                height: 300px;

                .note-content{
                    color: lighten($color: $colorApp, $amount: 10);
                    font-style: italic;
                    margin: auto;
                    width: 75%;
                    height: 185px;
                    overflow-y: auto;
                }

                span{
                    height: 20px;
                    overflow-y: auto;
                }
            }

            .note-buttons{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 500px){
    .content{
        #notes{
            height: 320px;
        }
    }
}